 <!-- About Section -->
    <section class="success" id="circulars">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <br>
                    <h2>Circulars</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
            <p>Many of the laws of South Sudan relevant to NGO operations in country can be found <a href="http://comms.southsudanngoforum.org/c/jobs" class="btn btn-lg btn-outline">here</a>.</p> The Forum relies on its members to collect and disseminate circulars recieved from government ministries, therefore if you recieve a circular relevant to other NGOs please upload by clicking the 'Upload Circular' button below. All circulars recently submitted can be viewed by clicking the 'View Recent Circular' button while particularly important and non-time-sensitive circulars will be uploaded in the 'Historical Circulars' on our Information Portal.
            <div class="col-lg-2 col-lg-offset-3">
              <a href="http://info.southsudanngoforum.org" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Upload Circular
              </a>
            </div>
            <div class="col-lg-2 col-lg-offset-2">
              <a href="http://comms.southsudanngoforum.org/c/jobs" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> View Recent Circulars
              </a>
            </div>
            <div class="col-lg-2 col-lg-offset-2">
              <a href="http://comms.southsudanngoforum.org/c/jobs" class="btn btn-lg btn-outline">
                <i class="fa fa-download"></i> Historical circulars
              </a>
            </div>
            </div>
        </div>
    </section>