<!-- Start: Hero -->
<div class="alert alert-info">
	<div class="q-container">
		<span>NGO Forum is looking for <a href="https://reliefweb.int/job/2628634/consultancy-services-conduct-national-directors-capacity-building-training-me-proposal" target="_blank">consultancy cervices to conduct National Directors’ Capacity Building Training on M&E, Proposal writing, budgeting and report writing for South Sudan</a>
		</span>
	</div>
</div>
<div id="hero">
	<div class="q-container">
		<div data-ride="carousel" id="header-full-width" class="carousel slide margin-bottom-20">
		    <div class="carousel-inner">

				<div class="item">
					<div class="fill" style="background-image: url('assets/img/ngo-expo.jpg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">MEMBERSHIP REGISTRATION 2018<br/><em class="uppercase">Be a member of the South Sudan NGO Forum 2018</em></h2>
						<p><small>All NGOs (that is: nongovernmental, not-for-profit, non-partisan, non-political and non-proselytising organisation) with a full-time presence in Southern Sudan, who has appropriate registration with RRC, pays membership fees, and is approved by the NGO Forum Steering Committee and Country Directors group is welcome to become a member.</small></p>
						<p><a class="button button-alt button-outline button-white" href="/membership/registration-closed/">Register Now!</a></p>
					</div>
				</div>

				<div class="item">
					<div class="fill" style="background-image: url('assets/img/nngo-cap-tool.png');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">Capacity Assessment Tool<br/><em class="uppercases">Evaluate Your Organization Capacity Status</em></h2>
						<p><small>The South Sudan NGO Forum is honoured to launch the National NGO Capacity Assessment tool and welcome all National NGO members to participate in the capacity assessment exercise. <br/>"A tool aimed to provide qualitative and quantitative information that will inform the NNGO capacity status debate!"</small></p>
						<p><a class="button button-alt button-outline button-white" target="_blank" href="/nngo-capacity-tool/">Visit CAT</a></p>
					</div>
				</div>

			    <div class="item">
			    	<div class="fill" style="background-image: url('assets/img/wordcloud.svg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">{{ site.data.global.title }}<br><em>{{ site.data.global.slogan }}</em></h2>
						<p><small>"We provide a platform through which NGOs, the Government of South Sudan, the UN, donors, and other external stakeholders can exchange information, share expertise and establish guidelines for a more networked, efficient and effective use of aid resources in South Sudan through information sharing, networking, representation and communication around safety and wellbeing!"</small></p>
						<p><a class="button button-alt button-outline button-white" href="/membership/registration-closed/">Join NGO Forum</a></p>
					</div>
				</div>

				<div class="item">
					<div class="fill" style="background-image: url('assets/img/ngo-expo.jpg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">ANNUAL NGOs EXPO 2017<br/><em class="capitalize">The National NGOs Expo 2017 was held on the 26th-28th OCTOBER 2017</em></h2>
					</div>
				</div>

			    <div class="item">
			    	<div class="fill" style="background-image: url('assets/img/doc-portal.jpg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">Documents Portal<br><em class="capitalize">Document repository of government circulars, coordination, legislations and regulatory guidance documents</em></h2>
						<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.document_repository_link }}">Visit Documents Portal</a></p>
					</div>
				</div>

			    <div class="item">
			    	<div class="fill" style="background-image: url('assets/img/3w-operation-presence.jpg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">3Ws Operational Presence<br><em class="capitalize">Data Visualization for International and National NGOs at County Level</em></h2>
						<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.operational_presence_tool }}">Visit 3Ws Operational Presence</a></p>
					</div>
				</div>

				<div class="item">
					<div class="fill" style="background-image: url('assets/img/state-coordination.png');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">State Level Coordination<br/><em class="uppercases">Enhancing the information sharing system among NNGOs across the states</em></h2>
						<p><small>"The National NGO state coordination initiative aims at enhancing the information sharing system among NNGOs across the states of South Sudan by improving already existing coordination systems or providing support in establishing new mechanisms for information sharing where there is none, this has been done through facilitation of coordination, leadership and communication trainings and setting up processes for follow up support for the state coordination leadership teams"</small></p> <p><a class="button button-alt button-outline button-white" target="_blank" href="/tools/state-coordination/">Read More</a></p>
					</div>
				</div>

			</div>
		    <a class="left carousel-control" href="#header-full-width" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span>
		    </a>
		    <a class="right carousel-control" href="#header-full-width" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>

	</div>
</div>
<!-- End: Hero -->

<!-- Start: Calls to action -->
<div id="home-cta">
	<div class="q-container wow animated fadeInDown" data-wow-duration="0.5s">

		<div id="box-volunteer" class="box box-alt simple-half">
		<h4 class="box-headline">Report Security Incident</h4>
			<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.report_security_incident_form }}">let us know of an incident</a></p>
		</div>

		<div id="box-donate" class="box box-alt simple-half">
			<h4 class="box-headline">Looking for a Circular/Act/Document ?</h4>
			<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.document_repository_link }}">Documents Repository</a></p>
		</div>
	</div>
</div>
<!-- End: Calls to action