<!-- Start: Hero -->
<div id="hero">
	<div class="q-container">
		<div data-ride="carousel" id="header-full-width" class="carousel slide margin-bottom-20">
		    <div class="carousel-inner">
			    <div class="item">
			    	<div class="fill" style="background-image: url('assets/img/wordcloud.svg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">{{ site.data.global.title }}<br><em>{{ site.data.global.slogan }}</em></h2>
						<p><small>"We provide a platform through which NGOs, the Government of South Sudan, the UN, donors, and other external stakeholders can exchange information, share expertise and establish guidelines for a more networked, efficient and effective use of aid resources in South Sudan through information sharing, networking, representation and communication around safety and wellbeing!"</small></p>
						<p><a class="button button-alt button-outline button-white" href="/membership/registration/">Join NGO Forum</a></p>
					</div>
				</div>
				
				<div class="item">
					<div class="fill" style="background-image: url('assets/img/internship-initiative.jpg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">INTERNSHIP INITIATIVE<br /><em>A CAPACITY DEVELOPMENT INITIATIVE</em></h2>
						<p><small>The NGO Forum internship initiative is three-month long opportunity designed to benefit fresh bachelor’s degree or diploma graduates or graduates with no work experience by placing them within pre-selected NGOs for the above specified period of time so as to gain work experience and improve their resumes and chances of getting employment within the humanitarian and/or development sector. <br />
						This opportunity is available to South Sudanese nationals only and is intended to provide an opportunity for individuals to substantively contribute to and learn from the work of the pre-selected NGOs who will be hosting them. </small></p>

						<p><a class="button button-alt button-outline button-white" href="/capacity-development/internship-initiative/">Read More!</a></p>
					</div>
				</div>

				<div class="item">
					<div class="fill" style="background-image: url('assets/img/resilience-exchange-network.jpg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">RESILIENCE EXCHANGE NETWORK<br/><em>Providing a platform through which NGOs share knowledge, expertise and learning on resilience programming;</em></h2>
						<p><small>The Resilience Exchange Network was established on 1 February, 2018 following a meeting of interested INGOs to discuss issues around resilience programming, financing, delivery of humanitarian and development assistance to populations in need in South Sudan.</small></p>
						<p><a class="button button-alt button-outline button-white" href="/resilience-exchange-network/">Learn About Resilience Exchange Network</a></p>
					</div>
				</div>

				<div class="item">
					<div class="fill" style="background-image: url('assets/img/nngo-cap-tool.png');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">Capacity Assessment Tool<br/><em class="uppercases">Evaluate Your Organization Capacity Status</em></h2>
						<p><small>The South Sudan NGO Forum is honoured to launch the National NGO Capacity Assessment tool and welcome all National NGO members to participate in the capacity assessment exercise. <br/>"A tool aimed to provide qualitative and quantitative information that will inform the NNGO capacity status debate!"</small></p>
						<p><a class="button button-alt button-outline button-white" target="_blank" href="/nngo-capacity-tool/">Visit CAT</a></p>
					</div>
				</div>

			    <div class="item">
			    	<div class="fill" style="background-image: url('assets/img/doc-portal.jpg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">Documents Portal<br><em class="capitalize">Document repository of government circulars, coordination, legislations and regulatory guidance documents</em></h2>
						<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.document_repository_link }}">Visit Documents Portal</a></p>
					</div>
				</div>

			    <div class="item">
			    	<div class="fill" style="background-image: url('assets/img/3w-operation-presence.jpg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">3Ws Operational Presence<br><em class="capitalize">Data Visualization for International and National NGOs at County Level</em></h2>
						<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.operational_presence_tool }}">Visit 3Ws Operational Presence</a></p>
					</div>
				</div>

				<div class="item">
					<div class="fill" style="background-image: url('assets/img/state-coordination.png');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">State Level Coordination<br/><em class="uppercases">Enhancing the information sharing system among NNGOs across the states</em></h2>
						<p><small>"The National NGO state coordination initiative aims at enhancing the information sharing system among NNGOs across the states of South Sudan by improving already existing coordination systems or providing support in establishing new mechanisms for information sharing where there is none, this has been done through facilitation of coordination, leadership and communication trainings and setting up processes for follow up support for the state coordination leadership teams"</small></p> <p><a class="button button-alt button-outline button-white" target="_blank" href="/tools/state-coordination/">Read More</a></p>
					</div>
				</div>

			</div>
		    <a class="left carousel-control" href="#header-full-width" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span>
		    </a>
		    <a class="right carousel-control" href="#header-full-width" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>

	</div>
</div>
<!-- End: Hero -->

<!-- Start: Calls to action -->
<div id="home-cta">
	<div class="q-container wow animated fadeInDown" data-wow-duration="0.5s">

		<div id="box-volunteer" class="box box-alt simple-half">
		<h4 class="box-headline">Become a member of NGO Forum?</h4>
			<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.membership_registration_page }}">Join the network</a></p>
		</div>

		<div id="box-donate" class="box box-alt simple-half">
			<h4 class="box-headline">How does NGO Forum Work?</h4>
			<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.statutes_of_operations_link }}">Statutes of Operations</a></p>
		</div>
	</div>
</div>
<!-- End: Calls to action -->