<!-- Start: Hero -->
<div id="hero">
	<div class="q-container">
		<div data-ride="carousel" id="header-full-width" class="carousel slide margin-bottom-20">
		    <div class="carousel-inner">
			    <div class="item">
			    	<div class="fill" style="background-image: url('assets/img/wordcloud.svg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">{{ site.data.global.title }}<br><em>{{ site.data.global.slogan }}</em></h2>
						<p><small>"We provide a platform through which NGOs, the Government of South Sudan, the UN, donors, and other external stakeholders can exchange information, share expertise and establish guidelines for a more networked, efficient and effective use of aid resources in South Sudan through information sharing, networking, representation and communication around safety and wellbeing!"</small></p>
						<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.membership_registration_form }}">Join NGO Forum</a></p>
					</div>
				</div>

				<div class="item">
					<div class="fill" style="background-image: url('assets/img/ngo-expo.jpg');"></div>
				    <div class="carousel-caption box-join simple-half">
						<h2 class="section-headline inverted">REGISTRATIONS HAVE STARTED!!<br><br><em>ANNUAL NATIONAL NGOs EXPO IS BACK. 26th-28th OCTOBER 2017</em></h2>
						<img width="100px" src="assets/img/nngo-expo-logo.jpg" alt="NNGO EXPO 2017" />
						<p><a class="button button-alt button-outline button-white" target="_blank" href="{{ site.data.nav.nngo_expo_registration_form }}"> Register for 2017 NNGO Expo</a></p>
					</div>
				</div>

			</div>
		    <a class="left carousel-control" href="#header-full-width" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span>
		    </a>
		    <a class="right carousel-control" href="#header-full-width" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
		</div>

	</div>
</div>
<!-- End: Hero -->

<!-- Start: Calls to action -->
<div id="home-cta">
	<div class="q-container wow animated fadeInDown" data-wow-duration="0.5s">

		<div id="box-volunteer" class="box box-alt simple-half">
			<h4 class="box-headline">Report Security Incident</h4>
			<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.report_security_incident_form }}">let us know of an incident</a></p>
		</div>

		<div id="box-donate" class="box box-alt simple-half">
			<h4 class="box-headline">Looking for a Circular/Act/Document ?</h4>
			<p><a class="button button-alt button-outline button-white" href="{{ site.data.nav.document_repository_link }}">Documents Repository</a></p>
		</div>
	</div>
</div>
<!-- End: Calls to action