    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/logo.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <hr class="star-light">
                        <span class="skills">Facilitating coordination of NGOs to effectively operate in South Sudan

</span><br>
<br><span>Check out our improved Jobs Vacancies portal - <a style="color: white; text-decoration: underline;"href="http://southsudanngoforum.org/jobs">http://southsudanngoforum.org/jobs</a></span>
<br><span>We are recruiting a Security Focal Point. Details <a style="color: white; text-decoration: underline;"href="http://southsudanngoforum.org/recruitment">here </a>and on <a href="http://reliefweb.int/job/1203801/south-sudan-ngo-forum-security-focal-point">reliefweb</a>.</span>
                    </div><br><br>
                    <div class="col-lg-2 col-lg-offset-3">
                        <a href="http://info.southsudanngoforum.org" class="btn btn-lg btn-outline">
                            <i class="fa fa-download"></i> Information Portal
                        </a>
                    </div>
                    <div class="col-lg-2 col-lg-offset-2">
                        <a href="http://southsudanngoforum.org/jobs" class="btn btn-lg btn-outline">
                            <i class="fa fa-download"></i> Job Vacancies
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>