<!-- Header -->
<header>
  <div class="container" style="height:800px">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/logo.png" alt="">
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <hr class="star-light">
          <span class="skills">Facilitating NGOs to effectively operate in South Sudan
          </span><br>
        </div><br><br>

        <div class="btn-group col-lg-2">
          <button  style="width:200px" type="button" class="btn btn-lg btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Communications <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="left:auto">
            <li><a href="http://comms.southsudanngoforum.org/">Mailing lists</a></li>
            <li><a href="http://comms.southsudanngoforum.org/c/jobs">Job advertisements</a></li>
            <li><a href="http://comms.southsudanngoforum.org/c/tenders">Tender advertisements</a></li>
            <li><a href="http://comms.southsudanngoforum.org/c/capacity-development">Courses and Trainings</a></li>
          </ul>
        </div>
        <div class="btn-group col-lg-2 col-lg-offset-1">
          <button  style="width:200px" type="button" class="btn btn-lg btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Documents <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="left:auto">
            <li><a href="http://docs.southsudanngoforum.org/coordination">Coordination</a></li>
            <li><a href="http://docs.southsudanngoforum.org/security">Safety/Security</a></li>
            <li><a href="http://docs.southsudanngoforum.org/regulation">Legislation/Regulation</a></li>
            <li><a href="http://docs.southsudanngoforum.org/sskn">Knowledge Network</a></li>
          </ul>
        </div>
        <div class="btn-group col-lg-2 col-lg-offset-1">
          <button  style="width:200px" type="button" class="btn btn-lg btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tools <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" style="left:auto">
            <li><a href="http://nngocaptool.org/">NNGO Capacity Tool</a></li>
            <li><a href="http://southsudanngoforum.org/3w">INGO Operational Presence</a></li>
            <li><a href="http://southsudanngoforum.org/3w-nngo">NNGO Operational Presence</a></li>
          </ul>
        </div>
        <div class="btn-group col-lg-2 col-lg-offset-1">
          <button  style="width:200px" type="button" class="btn btn-lg btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reporting <span class="caret"></span>
          </button>
          <ul class="dropdown-menu"  style="left:auto">
            <li><a href="https://docs.google.com/forms/d/1rICS4K_w2WpXDss0B-gb74j_9kgDy4oODi13IKOq6wc/viewform?usp=send_form">Security Incident</a></li>
            <li><a href="https://docs.google.com/a/southsudanngoforum.org/forms/d/13xBnAkH07grMOqrsCIobWxteX5wmrS5f0xOl-x88k0w/viewform">Access Constraint</a></li>
            <li><a href="https://docs.google.com/a/southsudanngoforum.org/forms/d/14dEkJF3oIA_LmlNq6FBVD5YpuRW8lwABQ1_0pfvUeF0/viewform?">Emergency Relocation Form</a></li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScfEwG-JXWsuFr5gqIpqAI5m3EirB1sQ7GX2Y52yM102tvNIg/viewform">Incidents of Sexual Violence against Staff</a></li>
          </ul>
        </div>
<!--
        <div class="col-lg-2 col-lg-offset-1">
          <a href="http://info.southsudanngoforum.org" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> Information Portal
          </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2">
          <a href="http://comms.southsudanngoforum.org/c/jobs" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> Job Advertisements
          </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2">
          <a href="http://www.nngocaptool.org" class="btn btn-lg btn-outline">
            <i class="fa fa-download"></i> NNGO CapTool
          </a>
        </div> -->
      </div>
    </div>
  </div>
</header>
