 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/SSNGOF-website/js/jquery-1.11.0.js" }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/SSNGOF-website/js/bootstrap.min.js" }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/SSNGOF-website/js/jquery.easing.min.js" }}"></script>
    <script src="{{ "/SSNGOF-website/js/classie.js" }}"></script>
    <script src="{{ "/SSNGOF-website/js/cbpAnimatedHeader.js" }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/SSNGOF-website/js/jqBootstrapValidation.js" }}"></script>
    {% if site.contact == "static" %}
    <script src="{{ "/SSNGOF-website/js/contact_me_static.js" }}"></script>
    {% else %}
     <script src="{{ "/SSNGOF-website/js/contact_me.js" }}"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/SSNGOF-website/js/freelancer.js" }}"></script>
