<!-- About Section -->
<section class="success" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <img src="/img/banner.png" alt="DCR">
                <br>
                <br>
            </div>
        </div>
<!--         <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h2>South Sudan Knowledge Network</h2>
                <hr class="star-light" style="border-color: #303030;">
            </div>
        </div> -->
        <div class="row">
            <p>The South Sudan Knowledge Network is an information platform where research on South Sudan is collected and housed. It is a one stop shop if you will, for research conducted on South Sudan that is free for public access. This does not include private journals or private research databases. </p>
            <p>Researchers, institutions, non-governmental organizations, governmental organizations are encouraged to submit completed research to the South Sudan Knowledge Network should they wish to share research papers publicly and at no cost. Similarly they are encouraged to use the database for their own purposes, such as their own research initiatives.</p>
            <p>The platform allows all types of academic research, studies and assessments, conducted by universities, organizations and institutions to be placed on the platform, however papers must have a South Sudan or regional relevance.</p>
            <p>The aim of the platform is to develop a virtual library of resources on South Sudan that grows over time due to contributions by users.</p>
            <p>The database will be down loaded every 3 months and submitted to the University of Juba main library. </p>
            <p>This enables students and academics to access the database offline, through the library borrowing system and provides access to research papers without needing to pay costly fees to undertake hours of research on the internet</p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <br>
            <br>
            <a href="http://info.southsudanngoforum.org/organization/knowledge-network" class="btn btn-lg btn-outline" style="border: solid 2px;">
                <i class="fa fa-download"></i> Enter the South Sudan Knowledge Network
            </a>
        </div>
    </div>
</section>
<section id="howitworks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h3>How it works</h3>
                <hr class="star-light" style="border-color: #303030;">
            </div>
        </div>
        <div class="row">
            <p>If you would like to post a paper on the platform, please send the paper to ssknowledgenetwork@gmail.com. Once received it will be checked against the following criteria: Articles must meet the below criteria to be eligible to be placed on the site:</p>
            <ol>
				<li>The paper must be an academic research paper.</li>
				<li>The paper must be free of cost.</li>
				<li>Opinion pieces will not be accepted, i.e newspaper articles. </li>
				<li>All South Sudan knowledge network members must agree on the papers to be uploaded. </li>
			</ol>
			<p>Once the paper is reviewed by the above criteria it will be posted on the database.</p>		 
        </div>
    </div>
</section>

<section class="success" id="members">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h3>Members of the South Sudan Knowledge Network?</h3>
                <hr class="star-light" style="border-color: #303030;">
            </div>
        </div>
        <div class="row col-lg-12">
        	<p>The concept of the South Sudan Knowledge Network was developed by the Dutch Consortium for Rehabilitation in collaboration with the University of Juba the Sudd Institute and the South Sudan NGO forum. All organizations are operating in Juba, South Sudan and share a mandate to undertake and share research to support their activities.</p>
        </div>
        <div class="row col-lg-12">
            <h3>The Dutch Consortium for Rehabilitation</h3>
            <p>The Dutch Consortium for Rehabilitation (DCR) is a collaborative venture of four non-governmental organizations (ZOA, Save the Children, CARE and HealthNet TPO), currently implementing a 5-year programme financed by the Dutch Ministry of Foreign Affairs. The DCR works together with communities in 6 fragile states on the rehabilitation of service delivery and local economies. These countries are South Sudan, Uganda, DR Congo, Burundi, Liberia and Sudan. Activities include improving basic services, creating employment opportunities, and strengthening civil society. The DCR aims to contribute to greater stability and sustainable economic growth in these six (post)conflict countries, since these are ultimately the best weapons against war (for more information, see http://www.dcr-africa.org/en).
			DCR has undertaken applied research in each of the 6 countries which focus on (1) Local development; (2) Accountability of local governance; (3) Inclusion of the poorest; (4) Conflict sensitivity; (5) Adult literacy and livelihoods; and (6) Partnership. Research is used to inform programs and are available on this site.
			</p>
        </div>
        <div class="col-lg-12 text-center">
                <br>
				<img src="/img/DCRbanner.png" alt="DCR">
                <br>
                <br>
            </div>
        <div class="row">
            <div class="col-lg-4">
                <h3>University of Juba, The Deanship of Libraries</h3>
                <p>
                    The University of Juba Library was conceived in the first proposal of the University of Juba Project and was enforced with University of Juba Act in 1975, with the aims to serve the academic, teaching, study and research needs of the university community. The current Library stock stands at 34,077 books and periodicals, many of the library materials are donations from USA, Canada and U.K. All these materials are inadequate for a University Library serving a population of over ten thousand students and staff. http://ujmainlibrary.org/bg_objective.html
                </p>
            </div>
            <div class="col-lg-4">
                <h3>The Sudd Institute</h3>
                <p>
                    The Sudd Institute is an independent research organization that conducts and facilitates research and training to inform public policy and practice, to create opportunities for discussion and debate, and to improve analytical capacity in South Sudan. The Sudd Institute’s intention is to significantly improve the quality, impact, and accountability of local, national, and international policy and decision-making in South Sudan in order to promote a more peaceful, just and prosperous society. 
					The Sudd institute http://www.suddinstitute.org  
                </p>
            </div>
            <div class="col-lg-4">
                <h3>The NGO Forum</h3>
                <p>
                    The NGO forum is an independent coordinating body of national and international NGOs that exists to serve and facilitate the work of its NGO members in order to efficiently and effectively address the humanitarian and development needs in South Sudan. All member organisations agree to provide humanitarian and/or development assistance to the people of South Sudan regardless of ethnic backgrounds, political affiliations, or religious beliefs. Member organisations are non-partisan, non-proselytising and do not participate in military activities. 
					NGO Forum. http://southsudanngoforum.org/ 
                </p>
            </div>
        </div>
        <div class="row col-lg-12">
        <br>
        <p>Contact the South Sudan Knowledge Network at SSKnowledgeNetwork@gmail.com</p>
        </div>
    </div>
</section>
