<!-- About Section -->
<section class="success" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <br>
                <img src="/img/members.png" alt="DCR">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h2>South Sudan Knowledge Network</h2>
                <hr class="star-light" style="border-color: #303030;">
            </div>
        </div>
        <div class="row">
            <p>The South Sudan Knowledge Network concept is an information platform where researchers, students, NGO’s, governmental agencies can post their research for dissemination to a wide audience and is internet based. </p>
            <p>The platform would allow all types of academic research, studies and assessments, conducted by universities, organisations and institutions to be placed on the platform. </p>
            <p>Once posted the platform would become a virtual library of research undertaken in South Sudan and would become a living knowledge network that could grow over time.
            </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <br>
            <br>
            <a href="http://info.southsudanngoforum.org/organization/knowledge-network" class="btn btn-lg btn-outline" style="border: solid 2px;">
                <i class="fa fa-download"></i> Enter the South Sudan Knowledge Network
            </a>
        </div>
    </div>
</section>
<section id="background">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h3>Background</h3>
                <hr class="star-light" style="border-color: #303030;">
            </div>
        </div>
        <div class="row">
            <p>
                The concept developed by the Dutch Consortium for Rehabilitation in collaboration with the University of Juba the Sudd Institute and the South Sudan NGO forum. All organisations have a mandate to share and support information collection which makes the collaboration suitable.
            </p>
            <p>
                The South Sudan Knowledge Network aims to provide an internet platform that can be accessed by students, academics and policy makers through a no/low cost platform
            </p>
            <p>
                After discussions with representatives from the University of Juba (Dec 2014), who explained the challenges the students face trying to access information on the internet an alternative idea was developed. Research and information collected, could be downloaded onto a flash drive, which will be delivered to the university library very quarter which will be able to be accessed by the students.
            </p>
            <p>
                Thus while the platform will be online a version will be available off line to allow students and researcher to be able to access information through the universities computes off line. This would provide an alternative for students/researchers and academics who do not have regular access to the internet.
            </p>
            <p>
                What the Knowledge Network is Not, the knowledge network is not political discussion group. The country is currently in conflict and the group would need to maintain independence. Also the KN does not approve research proposals and review and approve research reports. The network is a place where research can be most importantly shared to a wide audience, particular students and organisations that can build and further research in particular fields. Criteria for the publication will be developed by the SSKN committee.
            </p>
            <p>
                Furthermore it may be a place where researchers within and outside South Sudan could be able to highlight their work and credentials to a wider academic audience.
            </p>
        </div>
    </div>
</section>
<section class="success" id="partnership">
    <div class="container">
        <div class="col-lg-4 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Importance of partnership</h3>
                    <hr class="star-light" style="border-color: #303030;">
                </div>
            </div>
            <div class="row">
                <p>
                    As a partnership between international and national organisations it highlights the importance of collaboration and the importance of sharing information collectively. The combination of organisations provides an opportunity to create a network of thinking organisations that are focused on the development of South Sudan and the data and information required to develop rigorous analysis and evidence based works.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-2">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>How would the South Sudan Knowledge Network operate?</h3>
                    <hr class="star-light" style="border-color: #303030;">
                </div>
            </div>
            <div class="row">
                <p>
                    The knowledge network will be operated off one of the member’s websites where a specific knowledge network page will be developed. This page will be public and articles, research papers will be uploaded and indexed so the site can be searched for relevant information. All members of the Knowledge Network will contribute articles and information to enrich the platform over time. The members will develop a criterion for the posting of articles on the Knowledge Network that will aim to not limit academic discussion, but prevent basic misuse of the resource. The platform will hold all open sources information members can collect on South Sudan, or that non members send to members to post on the site. Members will meet each quarter to access how the process is going and to discuss any concerns they may have about the site or research posted.
                </p>
            </div>
        </div>
</section>
<section id="concept">
    <div class="container">
        <div class="col-lg-3 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h3>Concept</h3>
                    <hr class="star-light" style="border-color: #303030;">
                </div>
            </div>
            <div class="row">
                <img class="img-responsive" src="/img/diagram.png" alt="DCR">
            </div> 
        </div>

        <div class="col-lg-3 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h3>Posting</h3>
                    <hr class="star-light" style="border-color: #303030;">
                </div>
            </div>
            <div class="row">
                <p>
                    Posting research papers will follow a referencing system such as the Harvard referencing system to be placed in the subject line of the post. Such as: Author’s SURNAME, INITIALS., Year of publication. Title. Edition (if not the first). Place of publication: Publisher.
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <h3>Next Steps</h3>
                    <hr class="star-light" style="border-color: #303030;">
                </div>
            </div>
            <div class="row">
                <p>
                    Members have agreed in a meeting in December at the Juba University Library to develop a Memorandum of understanding of the concept which will provide the basis from which the group will collaborate.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="success" id="members">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h3>Members</h3>
                <hr class="star-light" style="border-color: #303030;">
            </div>
        </div>
        <div class="row col-lg-12">
            <h3>The Dutch Consortium for Rehabilitation</h3>
            <p>The Dutch Consortium for Rehabilitation (DCR) is a collaborative venture of four non-governmental organizations (ZOA, Save the Children, CARE and HealthNet TPO), currently implementing a 5-year programme financed by the Dutch Ministry of Foreign Affairs. The DCR works together with communities in 6 fragile states on the rehabilitation of service delivery and local economies. These countries are South Sudan, Uganda, DR Congo, Burundi, Liberia and Sudan. Activities include improving basic services, creating employment opportunities, and strengthening civil society. The DCR aims to contribute to greater stability and sustainable economic growth in these six (post)conflict countries, since these are ultimately the best weapons against war (for more information, see http://www.dcr-africa.org/en).</p>
            <p>
                The purpose of the DCR Knowledge Network (KN) is to effectively formulate evidence-based recommendations and lessons learned, and to help put these lessons into practice in the ongoing work. The KN consists of around 50 staff of the 4 agencies in the consortium, its partners in the field, and several Universities around the world. For 2012-2013, the following themes have been selected for applied research: (1) Local development; (2) Accountability of local governance; (3) Inclusion of the poorest; (4) Conflict sensitivity; (5) Adult literacy and livelihoods; and (6) Partnership.</p>
            <p>The Dutch Consortium for Rehabilitation The Dutch Consortium for Rehabilitation (DCR) is a collaborative venture of four non-governmental organizations (ZOA, Save the Children, CARE and HealthNet TPO), currently implementing a 5-year programme financed by the Dutch Ministry of Foreign Affairs. The DCR works together with communities in 6 fragile states on the rehabilitation of service delivery and local economies. These countries are South Sudan, Uganda, DR Congo, Burundi, Liberia and Sudan. Activities include improving basic services, creating employment opportunities, and strengthening civil society. The DCR aims to contribute to greater stability and sustainable economic growth in these six (post)conflict countries, since these are ultimately the best weapons against war (for more information, see http://www.dcr-africa.org/en).</p>
            <p>
                The purpose of the DCR Knowledge Network (KN) is to effectively formulate evidence-based recommendations and lessons learned, and to help put these lessons into practice in the ongoing work. Project contact: Aidan Goldsmith, DCR coordinator</p>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h3>University of Juba, The Deanship of Libraries</h3>
                <p>
                    The University of Juba Library was conceived in the first proposal of the University of Juba Project and was enforced with University of Juba Act in 1975, with the aims to serve the academic, teaching, study and research needs of the university community. The current Library stock stands at 34,077 books and periodicals, many of the library materials are donations from USA, Canada and U.K. All these materials are inadequate for a University Library serving a population of over ten thousand students and staff. Project contact: Dr Peter Riaak, Dean, Deanship of Libraries, University of Juba. http://ujmainlibrary.org/bg_objective.html
                </p>
            </div>
            <div class="col-lg-4">
                <h3>The Sudd Institute</h3>
                <p>
                    The Sudd Institute is an independent research organization that conducts and facilitates research and training to inform public policy and practice, to create opportunities for discussion and debate, and to improve analytical capacity in South Sudan. The Sudd Institute’s intention is to significantly improve the quality, impact, and accountability of local, national, and international policy and decision-making in South Sudan in order to promote a more peaceful, just and prosperous society. Project contact: Zacharia Diing Akol, Director of Training, The Sudd institute http://www.suddinstitute.org/who-we-are/about-us/
                </p>
            </div>
            <div class="col-lg-4">
                <h3>The NGO Forum</h3>
                <p>
                    The NGO forum is an independent coordinating body of national and international NGOs that exists to serve and facilitate the work of its NGO members in order to efficiently and effectively address the humanitarian and development needs in South Sudan. All member organisations agree to provide humanitarian and/or development assistance to the people of South Sudan regardless of ethnic backgrounds, political affiliations, or religious beliefs. Member organisations are non-partisan, non-proselytising and do not participate in military activities. Project contact: Brian Mc Donald, Information Manager, NGO Forum. http://southsudanngoforum.org/
                </p>
            </div>
        </div>
    </div>
</section>
