 <!-- About Section -->

 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
 <link rel="stylesheet" href="/css/MarkerCluster.css" />
 <link rel="stylesheet" href="/css/MarkerCluster.Default.css" />
 <link rel="stylesheet" type="text/css" href="/css/qgis2web.css">
 <link rel="stylesheet" href="/css/label.css" />
 <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
 <script src="/js/leaflet-hash.js"></script>
 <script src="/js/label.js"></script>
 <script src="/js/Autolinker.min.js"></script>
 <script src="/js/leaflet.markercluster.js"></script>
 <script src="/data/json_SSadmbndaadm1200kssnbs2013.js"></script>
 <script src="/data/json_Untitled3shp.js"></script>

    <section id="security">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <br>
                    <h2>NNGO Coordination</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
            <p>Coming soon</p>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                <br>
                    <h3>NNGO Coordination</h3>
                </div>
            </div>
            <div class="row">
                    <div id="map" style="height:500px"></div>
                    <script src="/data/json_SSadmbndaadm1200kssnbs2013.js"></script>
                    <script src="/data/json_Untitled3shp.js"></script>
                    <script>
                    var map = L.map('map', {
                        zoomControl:false, maxZoom:6, minZoom:6
                    }).fitBounds([[3.3063322183,23.5977200475],[10.6126429054,36.5049372074]]);
                    var hash = new L.Hash(map);
                    // var additional_attrib = '<a href="https://github.com/tomchadwin/qgis2web" target ="_blank">qgis2web</a>';
                    var feature_group = new L.featureGroup([]);
                    var raster_group = new L.LayerGroup([]);
                    var layerOrder=new Array();
                    function restackLayers() {
                        for (index = 0; index < layerOrder.length; index++) {
                            feature_group.removeLayer(layerOrder[index]);
                            feature_group.addLayer(layerOrder[index]);
                        }
                    }

                    layerControl = L.control.layers({},{},{collapsed:false});

                function doStyleSSadmbndaadm1200kssnbs2013(feature) {
                        return {
                            weight: 1.04,
                            color: '#000000',
                            fillColor: '#ffffff',
                            dashArray: '',
                            opacity: 1.0,
                            fillOpacity: 1.0
                        };
                }
                        var json_SSadmbndaadm1200kssnbs2013JSON = new L.geoJson(json_SSadmbndaadm1200kssnbs2013, {
                            style: doStyleSSadmbndaadm1200kssnbs2013
                        });
                        layerOrder[layerOrder.length] = json_SSadmbndaadm1200kssnbs2013JSON;
                    layerOrder[layerOrder.length] = json_SSadmbndaadm1200kssnbs2013JSON;
                    for (index = 0; index < layerOrder.length; index++) {
                        feature_group.removeLayer(layerOrder[index]); feature_group.addLayer(layerOrder[index]);
                    }
                    //add comment sign to hide this layer on the map in the initial view.
                    feature_group.addLayer(json_SSadmbndaadm1200kssnbs2013JSON);
                function pop_Untitled3shp(feature, layer) {
                var popupContent = '<table><tr><th scope="row">State</th><td>' + Autolinker.link(String(feature.properties['Stname'])) + '</td></tr><tr><th scope="row">Focal Poin</th><td>' + Autolinker.link(String(feature.properties['Focal Poin'])) + '</td></tr><tr><th scope="row">Email</th><td>' + Autolinker.link(String(feature.properties['Email'])) + '</td></tr><tr><th scope="row">Google group</th><td>' + Autolinker.link(String(feature.properties['Google gro'])) + '</td></tr><tr><th scope="row"># of CBOs</th><td>' + Autolinker.link(String(feature.properties['Number of'])) + '</td></tr></table>';
                layer.bindPopup(popupContent);
                }

                function doStyleUntitled3shp(feature) {
                        return {
                            weight: 1.04,
                            color: '#000000',
                            fillColor: '#6c4d80',
                            dashArray: '',
                            opacity: 1.0,
                            fillOpacity: 1.0
                        };
                }
                        var json_Untitled3shpJSON = new L.geoJson(json_Untitled3shp, {
                            onEachFeature: pop_Untitled3shp,
                            style: doStyleUntitled3shp
                        });
                        layerOrder[layerOrder.length] = json_Untitled3shpJSON;
                    layerOrder[layerOrder.length] = json_Untitled3shpJSON;
                    for (index = 0; index < layerOrder.length; index++) {
                        feature_group.removeLayer(layerOrder[index]); feature_group.addLayer(layerOrder[index]);
                    }
                    //add comment sign to hide this layer on the map in the initial view.
                    feature_group.addLayer(json_Untitled3shpJSON);
                    raster_group.addTo(map);
                    feature_group.addTo(map);
                </script>
            </div>
        </div>
    </section>