<!-- About Section -->
<section  id="recruitment">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center" style="border-color: #303030;">
        <br>
        <h2>Recruitment</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <h3>Secretariat Director</h3>
      <p style="color:black">
        <strong>Location:</strong> Juba, South Sudan <br>
        <strong>Work Station:</strong> NGO Forum Secretariat, Tearfund Compound (with some field travel) <br>
        <strong>Application Deadline:</strong> 7 May 2016<br>
        <strong>Salary:</strong> Competitive Salary  <br>
        Download: <a href="https://www.dropbox.com/s/v8nq5s434zv4eb8/160414%20NGO%20Forum%20Director%20Advert.pdf?dl=1" style="text-decoration: underline;">Job description</a> and <a href="https://www.dropbox.com/s/jb1z23guphswgay/International%20Application%20Form%202016.doc?dl=1" style="text-decoration: underline;">application form</a>
      </p>
    </div>


    <!-- <div class="row">
      <h3>Database Development and Piloting Consultant</h3>
      <p style="color:black">
        <strong>Position Type:</strong> Consultancy <br>
        <strong>Application Deadline:</strong> 15 April 2016<br>
        <strong>How to apply:</strong> Submit a brief proposal of a work plan, methodology and cost proposal/budget. In addition, submit a CV and cover letter detailing applicable experience, along with a analytical writing sample to Lucia Goldsmith at coordinator@southsudanngoforum.org and Lindsay Hamsik at policy@southsudanngoforum.org<br>
        <a href="https://www.dropbox.com/s/bmz8y2s5tx5rkjb/160404%20Data%20Base%20Development%20Consultant.pdf?dl=0" style="text-decoration: underline;">More details.</a>
      </p>
    </div> -->
  </div>
</section>
