 <!-- About Section -->
    <section  id="recruitment">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="border-color: #303030;">
                <br>
                    <h2>Recruitment</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
            <h3>Reporting Officer - Acceess & Regulatory environment</h3>
            <p style="color:black">
            <strong>Position Type:</strong> Expatriate Staff <br>
            <strong>Location:</strong> Juba, South Sudan <br>
            <strong>Work Station:</strong> NGO Forum Secretariat, Tearfund Compound (with some field travel) <br>
            <strong>Reporting to:</strong> Policy and Advocacy Advisor<br>
            <strong>Application Deadline:</strong> 10  October 2015<br>
            <strong>Start Date:</strong> ASAP <br>
            <strong>Duration of Post:</strong> A commitment of at least 1 year, ideally 2 years is expected.   <br>
            <strong>Salary:</strong> Competitive Salary  <br>
            <a href="https://www.dropbox.com/sh/ir49zagdmusub6r/AAA92yMQRzdHKs4OVlcRoxnMa?dl=0" style="text-decoration: underline;">Job description and application form.</a>
            </p>
            </div>

            <div class="row">
            <h3>Security Focal Point</h3>
            <p style="color:black">
            <strong>Position Type:</strong> Expatriate Staff <br>
            <strong>Location:</strong> Juba, South Sudan <br>
            <strong>Work Station:</strong> NGO Forum Secretariat, Tearfund Compound (with some field travel) <br>
            <strong>Reporting to:</strong> Secretariat Coordinator<br>
            <strong>Application Deadline:</strong> 6 November 2015<br>
            <strong>Start Date:</strong> 1st December 2015<br>
            <strong>Duration of Post:</strong> The post will be initially be contracted to 31 March 2016. New funding is expected for this post for 2016.  A commitment of at least 1 year, ideally 2 years is expected.  <br>
            <strong>Salary:</strong> Competitive Salary  <br>
            <strong>How to apply:</strong> Complete the application form, send a resume or CV, letter of motivation and a brief ( 1-2 page) analysis or other written work to: coordinator@southsudanngoforum.org ; security@southsudanngoforum.org & southsudan-hrm@tearfund.org<br>The subject line of the email must be title: " Application: NGO - Security Focal Point"<br>Each attachment must have the following naming: PRE - Last name, First name -resume (or CV)PRE - Last name, First name -Letter of motivation PRE - Last name, First name - writing samplePRE Last name, First name - application form<br>
            <a href="https://www.dropbox.com/sh/qcf114c7unwd1k9/AADvT5vRNpKNw0yGzWAoouQGa?dl=0" style="text-decoration: underline;">Job description and application form.</a>
            </p>
            </div>
        </div>
    </section>