 <!-- Resources Section -->
    <section class="success" id="resources">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Resources</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <ul>
                    	<li><strong>INGO Contacts[only available to member NGOs]: Email infomgr@southsudan.org for the link</li>
                    	<li><strong>NNGO Contacts[only available to member NGOs]: Email nngo-info@southsudan.org for the link</li>
                    	<li><strong>Operational Presence 3W: Go to <a style="color:white; text-decoration:underline" href="http://3w.southsudanngoforum.org">3w.southsudanngoforum.org</a></li>
                        <li>An INGO 3W:OP app is available <a style="color:white; text-decoration:underline" href="https://build.phonegap.com/apps/1614016/share">here</a></li>
                    	<li><strong>Multi-dataset map: Go to <a style="color:white; text-decoration:underline" href="http://southsudanngoforum.org/OperationsDashboard/">Operations Dashboard</a>(work in progess)</li>
                    	<li><strong>Security Incidents Dashboard [only available to member NGOs]: Email infomgr@southsudan.org for the link</li>
                    	<li><strong>South Sudan Knowledge Network; A platform hosted by the NGO Forum which contains a large collection of South Sudan-focused research material: <a style="color:white; text-decoration:underline" href="http://southsudanknowledgenetwork.org">www.southsudanknowledgenetwork.org</a></li>
                    	<li><strong>South Sudan Knowledge Capacity Development Association; A portal aimed at connecting capacity development service providers to civil society organizations, government, and the private sector to engage and meet their capacity development needs through access to high-quality and affordable services.: <a style="color:white; text-decoration:underline" href="http://old.southsudanngoforum.org/capacity-development-portal/">Capacity Development Portal</a></li>
                    	<li><strong>Job and Announcements Message Board: A message board hosted by the NGO Forum where NGO can post their job vacancies; <a style="color:white; text-decoration:underline" href="http://old.southsudanngoforum.org/boards/index.php?board=2.0">Job Vacancies</a></li>
                    </ul>
                </div>

<script type="text/javascript" >
jQuery(document).ready(function($) {
  var url = 'http://info.southsudanngoforum.org/api/search/dataset?'
  $.getJSON(url, function(data) {
    // class selector for the page element where info should be inserted
    $('.ckanjs-widget-count').html(data.count);
  });
});
</script>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>For documents & research papers written or collected by the NGO Forum vistit the Information Portal
                </p><span class="ckanjs-widget-count"></span>
                    <a href="http://info.southsudanngoforum.org" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Information Portal
                    </a>
                </div>
            </div>
        </div>
    </section>