 <!-- Resources Section -->
 <script type="text/javascript">
jQuery(document).ready(function($) {
  var group = 'tax';
  var url = 'http://info.southsudanngoforum.org/api/search/dataset?' + group;
  $.getJSON(url, function(data) {
    // class selector for the page element where info should be inserted
    $('.ckanjs-widget-count').html(data.count);
  });
});
</script>

    <section class="success" id="resources">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Resources</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <ul>
                    	<li>INGO Contacts [only available to member NGOs]: Email infomgr@southsudanngoforum.org</li>
                    	<li>NNGO Contacts [only available to member NGOs]: Email nngo-info@southsudanngoforum.org</li>
                    	<li><a style="color:white; text-decoration:underline" href="http://southsudanngoforum.org/3w">INGO Operational Presence 3W</a></li>
                    	<li><a style="color:white; text-decoration:underline" href="http://southsudanngoforum.org/3w-nngo">NNGO Operational Presence 3W</a></li>
                        <li><a style="color:white; text-decoration:underline" href="https://build.phonegap.com/apps/1614016/share">INGO 3W:OP mobile app</a></li>
                    	<li><a style="color:white; text-decoration:underline" href="http://southsudanngoforum.org/OperationsDashboard/">Operations Dashboard </a>(work in progess)</li>
                    	<li>Security Incidents Dashboard [only available to member NGOs]: Email infomgr@southsudanngoforum.org</li>
                    	<li><a style="color:white; text-decoration:underline" href="http://southsudanknowledgenetwork.org">South Sudan Knowledge Network</a></li>
                    	<li><a style="color:white; text-decoration:underline" href="http://comms.southsudanngoforum.org/c/capacity-development">Capacity Development Portal</a></li>
                    	<li><a style="color:white; text-decoration:underline" href="http://comms.southsudanngoforum.org/c/jobs">Job Advertisements</a></li>
                    	<li><a style="color:white; text-decoration:underline" href="http://comms.southsudanngoforum.org/c/tenders">Tender Advertisements</a></li>
                    	<li>External links: <a style="color:white; text-decoration:underline" href="http://southsudanhumanitarianproject.com/">South Sudan Humanitarian Project</a>; <a style="color:white; text-decoration:underline" href="http://reliefweb.int/country/ssd">Reliefweb South Sudan</a>; <a style="color:white; text-decoration:underline" href="https://data.hdx.rwlabs.org/group/ssd">Humanitarian Data Exchange</a></li>
                    </ul>
                </div>
                <br>
                <br>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                <p><span class="ckanjs-widget-count"></span> documents & research papers written or collected by the NGO Forum.</p>
                    <a href="http://info.southsudanngoforum.org" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Information Portal
                    </a>
                </div>
            </div>
        </div>
    </section>