 <!-- About Section -->
    <section class="success" id="security">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <br>
                    <h2>Security</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
            <p>The Security Office of the NGO Forum routinely and regularly: provides members with various written information products; conducts information, coordination and assistance meetings, briefings and workshops; maintains security liaison with, and is the primary security point of contact for, other non-NGO groups and individuals; promotes best security practices; facilitates security training and education opportunities; and assists and advises on member preparedness and security incidents/crisis management if appropriate. The office does not, however, provide security management or an operational presence in any form.</p>
            </div>
        </div>
    </section>