
    <!-- services Grid Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What we do</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-4 text-center">
                <div style="height:160px ">
            	<h3>Security</h3>
            	<p>Collection, analysis and sharing of NGO related security information.</p>
                </div>
                <a href="security" class="btn btn-lg btn-outline" style="color: black; border: solid 2px;">
                    <i class="fa fa-download"></i>Read more
                </a>
            	</div>

            	<div class="col-sm-4 text-center">
                <div style="height:160px">
            	<h3>Coordination</h3>
            	<p>Facilitating engagement between NGOs and other humanitarian actors in South Sudan.</p></div>
            	<a href="coordination" class="btn btn-lg btn-outline" style="color: black; border: solid 2px;">
            	    <i class="fa fa-download"></i>Read more
            	</a>
            	</div>
            	<div class="col-sm-4 text-center">
                <div style="height:160px">
            	<h3>Policy</h3>
            	<p>Developing policy briefings and identifying focus areas for advocacy that are consistent with the interests of the Forum members.</p></div>
            	<a href="policy" class="btn btn-lg btn-outline" style="color: black; border: solid 2px;">
            	    <i class="fa fa-download"></i>Read more
            	</a>
            	</div>
            	<div class="col-sm-4 text-center">
                <div style="height:160px">
            	<h3>NNGO</h3>
            	<p>Enabling South Sudanese National NGO growth and enhancing coordination among National NGOs and between National NGOs and other actors.</p></div>
            	<a href="nngo" class="btn btn-lg btn-outline" style="color: black; border: solid 2px;">
            	    <i class="fa fa-download"></i>Read more
            	</a>
            	</div>
            	            	<div class="col-sm-4 text-center">
                <div style="height:160px">
            	<h3>INFO</h3>
            	<p>Gathering information from, and dissemination to NGOs to support improved collective decision making and evidence-based advocacy.</p></div>
            	<a href="nngo" class="btn btn-lg btn-outline" style="color: black; border: solid 2px;">
            	    <i class="fa fa-download"></i>Read more
            	</a>
            	</div>
            </div>

<!--             <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 services-item">
                        <a href="#services-{{ post.modal-id }}" class="services-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/services/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div> -->
        </div>
    </section>