<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        <div class="notes yellow-notes">
            <div class="container">
                <p>Please visit us at our new office at Concern Worldwide Offices Airport Road, Opposite Ebony International Bank besides the murram road leading to Nile Pet Building</p>
            </div>
        </div>        
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include membership.html %}
    {% include services.html %}
    {% include resources.html %}


    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
